[submodule "libraries/standard/http/third_party/http_parser"]
	path = libraries/standard/http/third_party/http_parser
	url = https://github.com/nodejs/http-parser.git
[submodule "libraries/3rdparty/CMock"]
	path = libraries/3rdparty/CMock
	url = https://github.com/ThrowTheSwitch/CMock
[submodule "tools/aws-templates-for-cbmc-proofs"]
	path = tools/aws-templates-for-cbmc-proofs
	url = https://github.com/awslabs/aws-templates-for-cbmc-proofs
