# Ignore documentation output.
doc/output/*
doc/tag/*

# Ignore CMake build directory.
build/

# Ignore build artifacts
*.o

# Ignore code coverage artifacts
*.gcda
*.gcno
*.gcov

# Ignore CBMC proof artifacts
**/cbmc/proofs/**/gotos
**/cbmc/proofs/**/html
**/cbmc/proofs/**/logs
**/cbmc/proofs/**/TAGS-*
**/cbmc/proofs/**/report
