[submodule "third_party/tinycbor/tinycbor"]
	path = third_party/tinycbor/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "third_party/mbedtls/mbedtls"]
	path = third_party/mbedtls/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
	branch = mbedtls-2.16.6
