language: c

install:
  # Remove placeholders.
  - rm external_libs/CppUTest/*
  - rm external_libs/mbedTLS/*

  # Get mbedtls.
  - wget -qO- https://github.com/ARMmbed/mbedtls/archive/mbedtls-2.18.1.tar.gz | tar xvz -C external_libs/mbedTLS --strip-components=1
  - wget -qO- https://github.com/ARMmbed/mbed-crypto/archive/mbedcrypto-1.1.1.tar.gz | tar xvz -C external_libs/mbedTLS/crypto --strip-components=1

  # Get CppUTest.
  - wget -qO- https://github.com/cpputest/cpputest/archive/v3.6.tar.gz | tar xvz -C external_libs/CppUTest --strip-components=1

script:
  # Verify that the samples build.
  - cd samples/linux/jobs_sample
  - make -j2
  - cd ../shadow_sample
  - make -j2
  - cd ../shadow_sample_console_echo
  - make -j2
  - cd ../subscribe_publish_library_sample
  - make -j2
  - cd ../subscribe_publish_sample
  - make -j2

  # Build and run unit tests.
  - cd ../../../
  - make build-cpputest

  # Set up integration tests if not a pull request.
  - cd tests/integration
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then sed -i 's/^.*#define AWS_IOT_MQTT_HOST.*$/#define AWS_IOT_MQTT_HOST "'"$AWS_IOT_ENDPOINT"'"/' include/aws_iot_config.h; fi
