# Emitted when running CBMC proofs
proofs/**/logs
proofs/**/gotos
proofs/**/report
proofs/**/html

# Emitted by CBMC Viewer
TAGS-*

# Emitted by Arpa
arpa_cmake/
Makefile.arpa

# These files should be overwritten whenever prepare.py runs
cbmc-batch.yaml
